@media (max-width:1000px) {
    /* css for screen below or equal to 1000px wide */ 
    
}
html {
    font-size: 10px;
}
main {
    width: auto;
}
.header{
    
    background-color: #2b7c86dc;
    width: auto;
    height: 10%;
    bottom: 0%;
    margin-top:0%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 1%;
    clear: both;
}

.header a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-family: 'Caveat', cursive;
    font-weight: 700;
    color: white;
}

body{
    background-color: #d8d5d5;
}

.mail-text{
    color:rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
}



.box {
    margin-top: 10px;
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    width: 400px;
    height: 340px;
    position: relative;
    display: inline-block;
}

.box p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: lighter;
}

.box h2 {
    font-size: 4rem;
    font-family: 'Inconsolata', monospace;
    display:block;
    text-align: center;

}

.box img {
    border-radius: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    float: left;
    padding-right: 1%;
    height: 200px;
    width: 150px;
}


.about-style h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
}

.navbar {
    padding: 10px;
    text-align: center;
    width: 100%;
}

.navbar ul, a {
  list-style:none;
  display: inline-block;
  font-size: 3rem;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
  color: white; 
  text-decoration: none ;
}

.footer{
    color:rgb(255, 255, 255);
    background-color: #2b7c86dc;
    text-align: center;
    width:auto;
    height: 10%;
    bottom: 0%;
    margin-top: 10px;
    padding: 1%;
    clear: both;
}

.footer p {
    text-align: center;
    display: inline-block;
    margin-top: 25px;
    font-size: small;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
}

.footer a{
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    font-size: small;
    text-decoration: none;
    padding: 1%;
    
}

.con-h2{
    font-size: 1rem;
    font-weight: lighter;
}

h3{
    display:inline-block
}